# vim
*.swp

# KDevelop
.kdev4/
*.kdev4
build/

# i18n
i18n/quadkonsole4.pot

# Debian
debian/files
debian/quadkonsole4.debhelper.log
debian/quadkonsole4.substvars
debian/quadkonsole4/
debian/stamp-*
obj-*/
