Source: quadkonsole4
Section: kde
Priority: extra
Maintainer: Karsten Borgwaldt <kb@spambri.de>
Build-Depends: debhelper (>= 7), cdbs, cmake (>= 2.8.12), quilt, pkg-kde-tools
Standards-Version: 3.8.4
Homepage: http://spambri.de/quadkonsole4

Package: quadkonsole4
Architecture: amd64 i386
Depends: konsole (>= 4.0.0), ${shlibs:Depends}, ${misc:Depends}
Description: X terminal emulator
 QuadKonsole4 embeds Konsole KParts in a grid layout.
