[Desktop Entry]
Name=quadkonsole
Name[x-test]=xxquadkonsolexx
Exec=quadkonsole %i -caption "%c"
Icon=quadkonsole
Type=Application
X-DocPath=quadkonsole/index.html
GenericName=QuadKonsole
GenericName[ca]=QuadKonsole
GenericName[cs]=QuadKonsole
GenericName[da]=QuadKonsole
GenericName[de]=QuadKonsole
GenericName[el]=QuadKonsole
GenericName[es]=QuadKonsole
GenericName[et]=QuadKonsole
GenericName[fr]=QuadKonsole
GenericName[ga]=QuadKonsole
GenericName[gl]=QuadKonsole
GenericName[hu]=QuadKonsole
GenericName[it]=QuadKonsole
GenericName[ja]=QuadKonsole
GenericName[km]=QuadKonsole
GenericName[ko]=QuadKonsole
GenericName[lv]=QuadKonsole
GenericName[nds]=QuadKonsole
GenericName[nl]=QuadKonsole
GenericName[nn]=QuadKonsole
GenericName[pa]=QuadKonsole
GenericName[pl]=QuadKonsole
GenericName[pt]=QuadKonsole
GenericName[pt_BR]=QuadKonsole
GenericName[ro]=QuadKonsole
GenericName[ru]=QuadKonsole
GenericName[sr]=QuadKonsole
GenericName[sr@latin]=QuadKonsole
GenericName[sv]=QuadKonsole
GenericName[tr]=QuadKonsole
GenericName[uk]=QuadKonsole
GenericName[x-test]=xxQuadKonsolexx
GenericName[zh_CN]=QuadKonsole
GenericName[zh_TW]=QuadKonsole
Terminal=false
