[Desktop Entry]
Encoding=UTF-8
Name=QuadKonsole
Name[xx]=xxQuadKonsolexx
Exec=quadkonsole
Icon=quadkonsole
Type=Application
Categories=Qt;KDE;System;TerminalEmulator;
X-KDE-StartupNotify=true
