[Desktop Entry]
Type=Application
Exec=quadkonsole4
Icon=quadkonsole4
X-DocPath=quadkonsole4/index.html
Terminal=false
Categories=Qt;KDE;System;TerminalEmulator;
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=de.ccchl.quadkonsole4
X-KDE-StartupNotify=true

Name=quadkonsole4
Name[sr]=Четверо-конзола
Name[sr@latin]=Četvero-konzola
Name[sr@ijekavian]=Четверо-конзола
Name[sr@ijekavianlatin]=Četvero-konzola
Name[x-test]=xxquadkonsole4xx

GenericName=QuadKonsole4
GenericName[ca]=QuadKonsole4
GenericName[cs]=QuadKonsole4
GenericName[da]=QuadKonsole4
GenericName[de]=QuadKonsole4
GenericName[el]=QuadKonsole4
GenericName[es]=QuadKonsole4
GenericName[et]=QuadKonsole4
GenericName[fr]=QuadKonsole4
GenericName[ga]=QuadKonsole4
GenericName[gl]=QuadKonsole4
GenericName[hu]=QuadKonsole4
GenericName[it]=QuadKonsole4
GenericName[ja]=QuadKonsole4
GenericName[km]=QuadKonsole4
GenericName[ko]=QuadKonsole4
GenericName[lv]=QuadKonsole4
GenericName[nds]=QuadKonsole4
GenericName[nl]=QuadKonsole4
GenericName[nn]=QuadKonsole4
GenericName[pa]=QuadKonsole4
GenericName[pl]=QuadKonsole4
GenericName[pt]=QuadKonsole4
GenericName[pt_BR]=QuadKonsole4
GenericName[ro]=QuadKonsole4
GenericName[ru]=QuadKonsole4
GenericName[sr]=Четверо-конзола 4
GenericName[sr@latin]=Četvero-konzola 4
GenericName[sr@ijekavian]=Четверо-конзола 4
GenericName[sr@ijekavianlatin]=Četvero-konzola 4
GenericName[sv]=QuadKonsole4
GenericName[tr]=QuadKonsole4
GenericName[uk]=QuadKonsole4
GenericName[x-test]=xxQuadKonsole4xx
GenericName[zh_CN]=QuadKonsole4
GenericName[zh_TW]=QuadKonsole4
