<?xml version="1.0"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="quadkonsole4" version="9">
	<MenuBar>
		<Menu noMerge="1" name="file">
			<text>&amp;File</text>
			<Action name="detach" />
			<Action name="reset layouts" />
			<Merge />
			<Separator weakSeparator="true" />
			<Action name="file_quit" />
		</Menu>
		<!--Menu noMerge="1" name="edit">
			<text>&amp;Edit</text>
			<ActionList name="view_edit" />
			<Merge />
		</Menu-->
		<Menu noMerge="1" name="view">
			<text>&amp;View</text>
			<Action name="go left" />
			<Action name="go right" />
			<Action name="go up" />
			<Action name="go down" />
			<Action name="switch view" />
			<Action name="duplicate view" />
			<Action name="change layout" />
			<Action name="zoom view" />
			<Merge />
		</Menu>
		<Menu noMerge="1" name="go">
			<text>&amp;Go</text>
			<Action name="go_up"/>
			<Action name="go_back"/>
			<Action name="go_forward"/>
			<Merge />
		</Menu>
		<Menu noMerge="1" name="settings">
			<text>&amp;Settings</text>
			<Merge name="StandardToolBarMenuHandler" />
			<Action name="options_show_menubar"/>
			<Action name="options_show_statusbar"/>
			<Action name="toggle sidebar"/>
			<Merge name="show_merge" />
			<Separator />
			<Action name="options_configure_keybinding"/>
			<Action name="options_configure_toolbars"/>
			<Action name="options_configure"/>
			<ActionList name="view_settings" />
			<Merge name="configure_merge"/>
			<Separator />
			<Merge />
		</Menu>
		<Menu name="help" append="about_merge">
			<text>&amp;Help</text>
			<Merge />
		</Menu>
	</MenuBar>

	<ToolBar name="mainToolBar" noMerge="1" newline="true" index="0">
		<text>Main Toolbar</text>
		<Action name="go_up" />
		<Action name="go_back" />
		<Action name="go_forward" />
		<Action name="detach" />
		<Action name="reset layouts" />
		<Action name="switch view" />
		<Merge />
	</ToolBar>
	<ToolBar name="locationToolBar" newline="false" iconText="icononly" index="1">
		<text>Location Toolbar</text>
		<Action name="toolbar_url_combo" />
		<Action name="go_url" />
	</ToolBar>
</kpartgui>
